*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Kalam', cursive; */

header{
    width: 100%;
    height: 100vh;
    background: url(images/bgimg.2.avif);
                background-size: cover;
                opacity: 95%;
                color: white;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    padding: 0.5em 1em;
    /* background: green;
    border-radius: 8px;
    border: 0 1rem; */
}

.menu i{
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.menu a:hover{
    background-color: rgb(240, 200, 148);
    border-radius: 30px;
    padding: 10px;
}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
}

.left{
    flex-basis: 60%;
}

.right{
    flex-basis: 30%;
}

.left h2{
    font-family: 'Poppind' , sans-serif;
    color: white;
}

.left h1{
    font-family: 'Kalam', cursive; 
    font-size: 5em;
}

.left p{
    font-family: 'Poppins' , sans-serif;
    line-height: 2.5rem;   
    font-size: 25px; 
}

#hire{
    text-decoration: none;
    background-color:rgb(240, 200, 148);
    color: black;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 1rem;
}

#myp{
    text-decoration: none;
    background-color:rgb(240, 200, 148);
    color: black;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.right img{
    width: 400px;
    height: 600px;
    border: 4px solid black;
    border-radius: 120px;
}   

#bio{
    cursor: pointer;
    padding: 150px 70px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Poppins' , sans-serif;
}

.mybio{
    text-align: center;
    padding: 40px;
    margin-top: -100px;
}

.mybio p{
    margin: 15px 0;
    line-height: 3rem;
    font-size: 40px;
    padding: 0px;
}

.mybio h1{
    font-size: 5rem;
    margin-top: -60px;
}

.mybio h2{
    margin-top: 20px;
    font-size: 70px;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    padding: 0px;
}

.info p{
    line-height: 100px;
    text-align: left;
}

#follow{
    text-align: center;
}

#follow i{
    color: green;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.link-h{
    text-align: center;
    margin-top: 6rem;
}

#cv{
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 1rem;
    border: 1px dashed;
}

#services{
    margin-top: 630px;
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.10);
    text-align: center;
}

.intro h1{
    font-size: 5rem;
}

.card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.cardbody{
    flex-basis: 30%;
    background: white;
    padding: 3rem;
    border-radius: 40px;
    margin: 30px;
}

.cardbody h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.cardbody i{
    font-size: 2.5rem;
    color: green;
}

.cardbody p{
    font-size: 30px;
}